.container{
    display: grid;
    grid-template-columns:auto 0.3fr 0.5fr auto auto auto  ;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
}
img{
    width: 230px;
}
.description{
    text-align: left;
}
input{
    text-align: center; 
    height: 30px;  
    width: auto;  
    font-size: 16px;
}